@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav{
    width: 600px;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart{
    width: 20px;
    margin-right: 1rem;
}

#sectionOne {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f8f4f4;
    height: 500px;
}

#sectionOne > article {
    width: 40%;
    text-align: center;
    font-size: 1.25em;
    margin: 20px;
}

h1{
    font-size: 5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

button {
    border: none;
}

.largeButton {
    padding: 15px 60px;
    margin: 0px 10px;
    font-weight: bold;
}

.redButton {
    background-color: #fb3e44;
    color: white;
}

.whiteButton {
    background-color: white;
    color: black;
}

.buttonShadow {
    box-shadow: 8px 8px #fad1d3;
}
