@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav{
    width: 600px;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart{
    width: 20px;
    margin-right: 1rem;
}

#sectionOne {
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(232,217,217,.3);
    height: 600px;
}

#sectionOne > article {
    width: 40%;
    text-align: center;
    font-size: 1.25em;
    margin: 20px;
}

h1{
    font-size: 5em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}


button {
    border: none;
}

.largeButton {
    padding: 15px 60px;
    margin: 0px 10px;
    font-weight: bold;
}

.wideButton {
    padding: 15px 100px;
    margin: 50px 10px;
    font-weight: bold;
}

.redButton {
    background-color: #FB3B49;
    color: white;
}

.whiteButton {
    background-color: white;
    color: black;
}

.blackButton {
    background-color: black;
    color: white;
}

.whiteButtonBorder {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 5px 10px;
    text-decoration: none;
}

.logInLink {
    text-decoration: none;
    padding: 5px 10px;
}

.pinkButtonShadow {
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.grayButtonShadow {
    box-shadow: 8px 8px #e5ddd4;
}


#sectionTwo {
    margin: 100px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#triangleHexagon {
    width: 200px;
}

#sectionTwo > article {
    width: 60%;
    text-align: center;
    margin: 20px 0px;
}

#sectionTwo > article > h2 {
    font-size: 1.9em;

}

.backgroundSkew {
    position: relative;
    overflow: hidden;
    background-color:rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    padding: 0px 30px;
    margin: 20px;
}

.unskew {
    transform: skew(-9deg,0deg);
    margin: 0px;
}



.smaller {
    padding: 0px 50px;
}

p{
    line-height: 150%;
}

#sectionThree {
    margin: 100px 20px;
    padding: 60px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

.icon{
    width: 40px;
}

.smallRow{
    width: 25%;
}

.redText {
    color:#fb3e44;
}

.smallParagraph {
    width: 85%;
}

.npmLogo {
    width : 60px;
}

.magnifyingGlass {
    width: 20px;
    padding: 5px;
}

.form {
    background-color: rgba(0,0,0,.05);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}



input[type=text]{
    border: 0px;
    background-color: rgba(0,0,0,0);
    width: 980px;

}

.searchBarDiv {
    padding: 5px 20px;
}